@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Knewave&family=Raleway:wght@300&family=Rum+Raisin&display=swap");

body {
  background: goldenrod;
  font-family: "Rum Raisin", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main {
  width: 500px;
  margin: 0 auto;
}
img {
  width:100%;
  padding:20px;
  border: 3cap solid;
  text-align: center;
}
h1 {
  color: black;
  font-size: 50px;
  text-align: center;

}
.result{
    font-size: xx-large;
}

input {
    background-color: white;
  color: black;

  padding: 12px 20px;
 
  box-sizing: border-box;
  width: 45%; 
  margin: 0 auto;
}
 .clear{ 
  width: 99px;
}

.equals{ 
    width: 99px;
}


input{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,24), 0 17px 50px 0 rgba(0,0,0,19);
  
}